<style>
    header {
      text-align: center;
      background: url('https://lh6.googleusercontent.com/067wPXsU4AD38dIj6w4t8cCPCIC-TDZv5Ui-qXEeB0jgmCwN8eCeJCMBu9nAC9hYtXlhSTOX2B7tJXLUN1Pt=w1920-h810-rw');
      background-size: cover;
      color: white;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 70px;
      color: black;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        color: black;
      }
      li {
        display: block;
        padding: 5px;
      }
    }  
    
  </style>
